.home-banner {    // Specific CSS for your home-page
  height: 100vh;
  background-size: cover;
  // display: flex;
  // justify-content: center;
  // align-items: flex-end;
  }

.content {
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  height: 100vh;
  position: relative;
  top: 25%;
}

.col-button {
  padding: 0;
  background-color: #F4F4F4;
}

.col-carousel {
  padding: 0;
}

.btn-home {
  padding: 16px;
  font-size: 20px;
}

.input-home {
  margin: 24px;
  width: 320px;
}
