.container-mybookings {
  margin: 25px auto 32px auto;
  width: 80%
}

.booking-details > h2 > a {
  color: $main;
}

.card-experience-infos {
  &.mybookings-card {
  padding: 16px 16px 0 16px;
  }
}

.btn-mybookins {
  position: relative;
  bottom: 16px;
  right: 64px;
}
