h1 {
  color: $main;
  font-family: "lobster";
  margin-bottom: 24px;
}

.form-new {
  color: $main;
}

.container-new {
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
}

.btn-add {
  margin-bottom: 50px;
}
