.container-show {
  margin: 0 50px;
}

.img-left{
  margin-left: auto;
}

.experience-summary {
  background-color: #ffffff;
  width: 100%;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 16px;
}

.payment-details {
    margin-left: 50px;
    background-color: white;
    height: 430px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-2 {
  &.btn-back {
    position: absolute;
    margin-top: 50px;
  }
}

.btn-1 {
  &.btn-book-experience {
    position: absolute;
    bottom: 10px;
    right: 30px;
    padding: 24px;
    width: 50%;
    font-size: 24px;
    text-align: center;
  }
}

.img-border {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  display: contents;
}

.show-title {
  margin: 50px;
}

.payment-details > h3 {
  font-size: 24px;
  color: black;
}

h1 {
  padding: 24px;
  color: #733271;
  text-align: center;
}

.experience-summary > p {
  color: black;
}
