.container-show {
  margin: 0 auto 32px auto;
  width: 80%
}

.show-header {
  letter-spacing: 1px;
}

.show-title {
  margin-left: 30px;
}


.show-title > h1 {
  color: #733271;
  text-align: left;
}

.show-title > p {
  margin-left: 24px;
}

.backlink {
}

.btn-back {
  color: black;
  opacity: 0.5;
  margin-top: 50%;
}

.btn-back:hover {
  text-decoration: none;
  opacity: 1;
  color: $main;
  transition: border 0.3s ease;
}

.img-box {
  position: relative;
}

.show-img {
  border-radius: 24px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.host-img {
  position: absolute;
  right: 16px;
  top: 8px;
}

.show-price {
  position: absolute;
  right: 16px;
  bottom: 8px;
  color: #ffffff;
  text-shadow: 0 0 2px #0e0000, -1px -1px 0 #0e0000, -2px -2px 1px #0e0000, -2px -2px 2px #0e0000;
}

.col-summary {
  padding: 0px;
}

.col-payment {
  padding: 0px;
}

.show-row {
  margin-top: 16px;
}

.experience-summary {
  margin-top: 25px;
  margin-left: 25px;
}

.experience-summary > h3 {
  margin-left: 14px;
}

.show-icon {
  margin-right: 4px;
  color: $main;
}

.btn-book-experience {
  position: absolute;
  bottom: 10px;
  right: 30px;
  padding: 24px;
  font-size: 24px;
  text-align: center;
  &.btn-book-experience:hover {
    text-decoration: none
  }
}

.map-wrapper {
  display: flex;
  justify-content: flex-end;
}

.review-card {
  box-shadow: 3px 3px 4px 3px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  margin-bottom: 20px;
}

.review-content {
  margin-left: 20px;
}

