
<div class="container-home">
  <div class="row">
    <div class="col col-button">
      <div class="content">
        <h1>Quedem Experiences</h1>

        <%= link_to "Find your experience", experiences_path, class: "btn-gradient" %>
      </div>
    </div>
    <div class="col col-carousel">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @experiences.each_with_index do |exp, index| %>
          <div class="carousel-item <%= index == 0 && 'active' %>">
            <div class="home-banner d-block" style="background-image: url(<%= cl_image_path exp.photo.key %>)"></div>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
